{% extends 'base.html' %}{% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'insta/home.css' %}">
<div class="container mt-4">
    {% for post in post.object_list %}
    <div class="card m-3">
        <div class="card-header">

            <img class="rounded-circle" alt="50x50" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" height="50" data-holder-rendered="true">
            <small><a href="{% url 'user_posts' post.author.pk  %}">{{post.author}}</a></small> {% if user.is_authenticated %}
            <small><a href="{% url 'update_post' post.pk %}">edit post</a></small> {% endif %}


        </div>
        {% if post.image %}
        <img src="{{post.image.url}}" alt="" height="400"> {% endif %}

        <div class="card-body">
            <div class="heart">
                <form action="{% url 'like_post' post.pk %}">
                    {% csrf_token %}
                    <button type="submit" name="post_id" value="{{post.id}}"><i id="love" class="fa-regular fa-heart fa-lg mx-2"></i></button>
                </form>
                <a class=" mb-2 mx-2 " id="comment " href=" "><img src="{% static 'images/comment.png' %} " alt=" " height="22 "></i>
                </a>
                <a class="mx-2" href=" "><i class="fa-solid fa-paper-plane "></i></a>





            </div>
            <di class="mt-3">
                <small class="mt-4"> 4000 likes</small>


            </di>
            <p><strong><a href="{% url 'post-detail' post.pk %} ">{{post.author}}</a></strong> <span>{{post.body}}</span></p>


            <h6>Posted on : {{post.post_date}}</h6>


        </div>

    </div>
    {% endfor %}




</div> {% endblock content %}