{% extends 'base.html' %}{% block content %} {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'insta/home.css' %}">

<div class="container mt-4">
    {% for post in object_list %}
    <div class="card m-3">
        <div class="card-header">
            <h3>{{post.title}}</h3>
            <small><a href="{% url 'update_post' post.pk %}">edit post</a></small>


        </div>

        <img src="https://images.pexels.com/photos/240561/pexels-photo-240561.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="" height="400">

        <div class="card-body">
            <h6><a href="{% url 'post-detail' post.pk %}">{{post.author}}</a></h6>
            <p>{{post.body}}</p>

            <h6>Posted on : {{post.post_date}}</h6>


        </div>

    </div>
    {% endfor %}




</div> {% endblock content %}