a {
    color: black;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    /* z-index: 9999; */
}

.profileImage {
    border-radius: 100%;
    max-width: 40px;
}

.instaLogo {
    max-width: 500px;
}

#logout {
    color: red;
}